<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
        <link rel="stylesheet" rel="text/css" href="../resources/css/style.css">
        <title>notice</title>
    </head>
    <body>
        <nav>
            <h1 class="logo"><a href="/">LAB(<span class="color">SE</span>);</a></h1>
            <div>
                <a href="/notice">notice</a>
                <a href="/members">members</a>
                <a href="/research">research</a>
                <a href="#">publications</a>
                <a href="#">courses</a>
                <% if(logined) { %>
                    <a class="login"><%= user_name %> 님</a>
                <% } else { %>
                    <a href="login" class="login">login</a>
                <% } %>   
            </div>
        </nav>
        <section class="notice_id">
             <% var date = JSON.stringify(results1[0].date);
               date = date.substring(1,11).split("-"); 
               %> 
            <h2><%= results1[0].title %></h2>
            <p>
                <%= results1[0].writer_name %>
                 <span><%= `${date[0]}/${date[1]}/${date[2]}` %></span> 
            </p>
            <p>
                <%= results1[0].content %>
            </p>
            <div>
                <form>
                    <h3>댓글</h3>
                    <%  results2.forEach(function(row){
                        console.log(row);
                        var date = JSON.stringify(row.time);
                        date = date.substring(1,11).split("-");
                    %>
                    <div class="comment">
                        <p>
                            <%=row.writer_name%><br>
                            <%=`${date[0]}/${date[1]}/${date[2]}`%>
                        </p>
                        <button type="button">답글</button>
                        <p><%=row.comment%></p>
                        <input class="write_reply" type="text">
                        <input type="submit" value="Submit">
                    </div>
                    <% }) %>
                    <input class="write_comment" type="text" placeholder="write a comment">
                    <input class="comment_writing" type="submit" value="Submit">

                   

                </form>
            </div>

            <script type="text/javascript">

                var button = document.querySelectorAll("button");
                var reply = document.getElementsByClassName("write_reply");
                var submit = document.getElementsByClassName("submit");
                
                
                
                for(let i=0;i<button.length;i++){
                    document.querySelectorAll("button")[i].addEventListener("click", function(){
                        reply[i].classList.toggle("none");
                        submit[i].classList.toggle("none");
                        
                    })
                    
                }
            

            </script>

            




        </section>
    </body>
</html>
