<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" rel="text/css" href="../resources/css/style.css">
    <title>Check Score</title>

</head>

<body>
    <nav>
        <h1 class="logo"><a href="/">LAB(<span class="color">SE</span>);</a></h1>
        <div>
            <a href="/notice">notice</a>
            <a href="/members">members</a>
            <a href="/research">research</a>
            <a href="#">publications</a>
            <a href="#">courses</a>
            <a href="#" class="login"><%=user_name%> 님</a>

        </div>
    </nav>
    <div class="score_wrap">
        <form action="/score" method="POST">
            <div class="score_info">
                <div>
                    <p>Writing your Student ID</p><br>
                    <input type="text" name="studentid" required>
                    <input type="submit" value="Enter">
                </div>
            </div>
        </form>
    </div>




    <%if(alert){ %>
    <div>
        <span>학번이 잘못 되었습니다.</span>
    </div>
    <% } %>

    <% if(results){ %>
    <div>
        <button class="score">midterm</button>
        <button class="score">finalterm</a></button>
        <button class="score">project</button>
        <button class="score">attendance</button>
        <button class="score">total</button>

        <script type="text/javascript">
            var score_wrap = document.querySelector(".score_wrap");
            score_wrap.classList.add("none");
        </script>
    </div>

    <canvas id="total"></canvas>

    <table class="none">
        <thead>
            <tr>
                <th>midterm/</th>
                <th>finalterm/</th>
                <th>project/</th>
                <th>attendance/</th>
                <th>total/</th>
                <th>myscore</th>

            </tr>
        </thead>
        <tbody>
            <% for(var i=0;i<length; i++) { %>
            <tr>
                <td class="midterm"><%= midterm[i].midterm %></td>
                <td class="finalterm"><%= finalterm[i].finalterm %></td>
                <td class="project"><%= project[i].project %></td>
                <td class="attendance"><%= attendance[i].attendance %></td>
                <td class="sum">
                    <%= midterm[i].midterm +finalterm[i].finalterm+project[i].project+attendance[i].attendance %></td>

            </tr>
            <%  } %>

        </tbody>
    </table>
    <table>
        <thead>
            <tr>
                <th>my_midterm/</th>
                <th>my_finalterm/</th>
                <th>my_project/</th>
                <th>my_attendance/</th>
                <th>my_sum</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td class="my_midterm"><%= results[0].midterm %></td>
                <td class="my_finalterm"><%= results[0].finalterm %></td>
                <td class="my_project"><%= results[0].project %></td>
                <td class="my_attendance"><%= results[0].attendance %></td>
                <td class="my_sum">
                    <%= results[0].midterm + results[0].finalterm + results[0].project + results[0].attendance %></td>
            </tr>

        </tbody>
    </table>
    <% } %>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript" src="../resources/js/score.js"></script>



</body>

</html>